
{% extends 'admintemplates/adminbase.html' %}
{% load static %}
 <title>{% block title %}add_student{% endblock %}</title>
{% block content %}
<div class="container">
  <div class="card-body">
      <div class="container">
         <div class="row">

              <div class="container">

                <form method="POST" class="form-horizontal" enctype="multipart/form-data" action="#">
                    <h1 style="background-color:green;color:black">Student registration</h1>
                            {% csrf_token %}
                      <div class="text-body">
                          {{ form.as_p }}

                          <br>
                            <input type="submit" value="save"class="btn btn-info" style="background-color:blue"/>
                      </div>
                </form>

              </div>
         </div>
      </div>
  </div>
</div>
{% endblock %}